{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">
<title>NotesDB | Cenek Potuznik</title>
{% endblock %}


{% block body %}
    <div class="project-header">
        <div>
            <a class="project-link" href="https://notesdb.potuznik.dev" target="_blank">
                <h1>NotesDB</h1>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
            <div class="project-description">A website for sharing study materials (czech)</div>
        </div>
        <div class="project-technologies">
            <div><i class="fa-brands fa-python fa-fw"></i><span>Python</span></div>
            <div><img src="{{ url_for('static', filename='img/logos/flask.svg') }}"><span>Flask</span></div>
            <div><img src="{{ url_for('static', filename='img/logos/sqlite.svg') }}"><span>SQLite</span></div>
            <div><i class="fa-brands fa-html5 fa-fw"></i><span>HTML</span></div>
            <div><i class="fa-brands fa-css fa-fw"></i><span>CSS</span></div>
            <div><i class="fa-brands fa-js fa-fw"></i><span>JavaScript</span></div>
        </div>
        <a href="https://github.com/cenekp74/notesdb" target="_blank" class="project-source">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <div>
        <h1>About this project</h1>
        <p>
            NotesDB was created to help students at my high school share study materials in a structured and organized way.
            My hope was that it will catch on and people will
            share their school work, eventually creating a database that would cover most subjects from the entire curriculum. <br>
            NotesDB is my first attempt at creating a full stack web app. Reflecting on it now, there are many aspects that I would do 
            differently. 
        </p>
        <h1>Key features</h1>
        <ul>
            <li><b>advanced search features</b> - filters, sorting etc.</li>
            <li><b>user system</b> - with login, profile pictures, password reseting, ...</li>
            <li><b>email system</b> - automatic sending of emails from @notesdb.cz</li>
            <li><b>view counter</b></li>
            <li><b>light/dark theme</b></li>
        </ul>
        <h1>Current status and future plans</h1>
        <p>
            Due to low user activity, NotesDB was archived and moved from notesdb.cz to notesdb.potuznik.dev. 
            In its current state, new user registration and email functionalities are disabled.
        </p>
        <p>
            In the future, I would like to create a better version of this website - more user friendly, more
            features and better design. 
        </p>
    </div>

{% endblock %}