{% extends 'base.html' %}
{% import '_macros.html' as m %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}?v=002">
<title>rust-labeler | Čeněk Potužník</title>
{% endblock %}


{% block body %}
    <div class="project-header">
        <div>
            <a class="project-link" href="https://github.com/cenekp74/rust-labeler" target="_blank">
                <h1>rust-labeler</h1>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
            <div class="project-description">Aplikace v Rustu pro označování obrázků</div>
        </div>
        {{ m.technologies(['Rust', 'CSS', 'JavaScript', 'HTML']) }}
        <a href="https://github.com/cenekp74/rust-labeler" target="_blank" class="project-source">
            <i class="fa-brands fa-github"></i>
        </a>
    </div>
    <div>
        <h1>O projektu</h1>
        <p>
            Rust-labeler je jednoduchá aplikace v Rustu postavená na frameworku <a href="https://tauri.app/">Tauri</a>. Umožňuje snadno přiřazovat obrázkům kategorie.
            Díky klávesovým zkratkám je práce s ní rychlá.
        </p>
        <h1>Hlavní funkce</h1>
        <ul>
            <li><b>vizualizace obrázků</b> – obrázky jsou znázorněné tečkami pro snadnou navigaci a přehled</li>
            <li><b>klávesové zkratky</b> – zkratky pro každou kategorii i pro navigaci</li>
            <li><b>výstup v json</b> – výstup je ve formátu json pro snadné další zpracování</li>
        </ul>
        <h1>Současný stav a plány do budoucna</h1>
        <p>
            Aplikaci sám často používám, takže ji budu dál udržovat a přidávat nové funkce. Pokud máte
            nápad na novou funkci, klidně mi napište e-mail.
        </p>
        <h1>Snímky obrazovky</h1>
        <img class="project-image" src="{{ url_for('static', filename='img/projects/rust-labeler/rust-labeler.png') }}">
        <img class="project-image" src="{{ url_for('static', filename='img/projects/rust-labeler/edit-categories.png') }}">
    </div>

{% endblock %}
