{% extends 'base.html' %}
{% import '_macros.html' as m %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}?v=002">
<title>selfhosted | Čeněk Potužník</title>
{% endblock %}


{% block body %}
    <div class="project-header">
        <div>
            <a class="project-link" href="#" target="_blank">
                <h1>Self-hosted projekty</h1>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </a>
            <div class="project-description">Na vlastním domácím serveru provozuji různé služby</div>
        </div>
        {{ m.technologies([('Linux', 'fa-brands fa-linux'), 'Docker']) }}
    </div>
    <div>
        <p>
            Doma provozuji vlastní server, na kterém hostuji několik služeb pro osobní použití. <br><br>
            Mezi tyto služby patří:
            <ul>
                <li><a href="https://media.potuznik.dev">Jellyfin</a></li>
                <li><a href="https://audiobooks.potuznik.dev">Audiobookshelf</a></li>
                <li><a href="https://trilium.potuznik.dev">TriliumNext</a></li>
                <li><a href="https://immich.potuznik.dev">Immich</a></li>
            </ul>
        </p>
        <p>
            Server, na kterém služby běží, je starší počítač HP s Ubuntu Server 22.04.
            Jako reverzní proxy používám nginx a služby provozuji v Docker kontejnerech. Abych skryl svou veřejnou IP adresu, používám
            proxy od Cloudflaru.
        </p>
        <p>
            Do budoucna bych se rád úplně odpoutal od velkých technologických firem, jako jsou Google a Microsoft, a nahradil jejich
            produkty open source alternativami, které si hostuji sám. Momentálně si zprovozňuji vlastní mailový server
            a Nextcloud.
        </p>
    </div>

{% endblock %}
