:root {
    --color-primary: hsl(130, 20%, 5%);
    --color-secondary: hsl(130, 30%, 90%);
    --color-tertiary: hsl(190, 90%, 50%);
    --color-accent: hsl(70, 80%, 80%);
    --bg-color: var(--color-primary);
    --text-color: var(--color-secondary);
    --text-color-muted: hsl(180, 20%, 55%);
    --division-line-color: hsl(180, 5%, 20%);
    --link-color: var(var(--text-color));
    --navbar-width-mobile: 240px;
    --border-radius: 12px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
    color: var(--link-color);
}

p {
    font-size: 1.25rem;
    line-height: 1.8rem;
    margin: 8px;
}

.tertiary {
    color: var(--color-tertiary );
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    width: 98vw;
    margin: 16px auto;
    gap: 12px;
}

/* #region navbar */ /* NAVBAR */

body > header {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    max-width: 1280px;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    font-family: 'Consolas', 'Inconsolata', 'Lucida Console', 'Roboto', 'Liberation Mono', monospace;
    z-index: 10;
}

.navbar a {
    text-decoration: none;
}

.navbar a.heading {
    font-size: 1.9rem;
    font-weight: bold;
}

.navbar .navbar-items a {
    font-size: 1.25rem;
    padding: 4px 12px;
    transition: .1s ease-in;
    display: inline-block;
}

.navbar .navbar-lang {
    font-size: 1.2rem;
}

.navbar .navbar-items .navbar-lang {
    display: none;
    font-size: 1.1rem;
}

.navbar:not(.expanded) .navbar-items a:hover {
    scale: 1.02;
    color: var(--text-color-muted);
}

.navbar .navbar-items a.active {
    color: var(--text-color-muted);
    font-weight: bold;
}

.navbar .navbar-icon {
    display: none;
    width: 36px;
    height: 27px;
    position: absolute;
    right: 16px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    scale: .7;
}

.navbar .navbar-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 12px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.navbar .navbar-icon span:nth-child(1) {
    top: 0px;
}

.navbar .navbar-icon span:nth-child(2), .navbar .navbar-icon span:nth-child(3) {
    top: 10.8px;
}

.navbar .navbar-icon span:nth-child(4) {
    top: 21.6px;
}

.navbar.expanded .navbar-icon span:nth-child(1) {
    top: 10.8px;
    width: 0%;
    left: 50%;
}

.navbar.expanded .navbar-icon span:nth-child(2) {
    transform: rotate(45deg);
}

.navbar.expanded .navbar-icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.navbar.expanded .navbar-icon span:nth-child(4) {
    top: 10.8px;
    width: 0%;
    left: 50%;
}

@media screen and (max-width: 840px) {
    .navbar .navbar-items .navbar-lang {
        display: inline;
    }

    .navbar > .navbar-lang {
        display: none;
    }

    .navbar .navbar-icon {
        display: inline;
    }

    .navbar .navbar-items {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        background-color: var(--bg-color);
        outline: 2px solid var(--bg-color);
        border-left: 1px solid var(--division-line-color);
        height: 100vh;
        padding: 4px;
        transform: translate(100%, 0);
        transform-origin: 0% 0%;
        transition: transform .4s cubic-bezier(0.77,0.2,0.05,1.0);
        width: var(--navbar-width-mobile);
        overflow-y: auto;
    }

    .navbar.expanded .navbar-items {
        transform: none;
    }

    .navbar .navbar-items a {
        padding: 16px 12px;
    }

    .navbar a.heading {
        font-size: 1.7rem;
    }
}

/* #endregion navbar */

/* #region index */ /* INDEX */

.welcome-card {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    border: 1px solid var(--division-line-color);
    border-radius: var(--border-radius);
    width: 90%;
    gap: 16px;
    justify-content: space-between;
    transition: .1s ease-in;
}

.welcome-card .name {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: bolder;
}

.welcome-card .col-left {
    flex: 2;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.welcome-card .col-left .socials {
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    gap: 8px;
}

.welcome-card .col-left .socials a {
    padding: 8px;
    border: 1px solid var(--division-line-color);
    border-radius: var(--border-radius);
    font-size: 1.4rem;
}

.welcome-card .col-left .socials a:hover {
    color: var(--color-accent);
    cursor: pointer;
}

.welcome-card .col-right {
    flex: 3;
    min-width: 300px;
}

.welcome-card .col-right p {
    margin: 0;
}

.technologies {
    width: 90%;
}

.technologies > div {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.technologies > div > div > :first-child {
    margin-right: 12px;
}

.technologies > div > div {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 12px;
    border: 1px solid var(--division-line-color);
    border-radius: var(--border-radius);
    transition: .1s ease-in;
    display: flex;
}

.technologies > div > div:hover {
    scale: 1.02;
}

.technologies img, .technologies i {
    width: 24px;
    line-height: 100%;
    display: block;
}

.technologies img {
    filter: grayscale(1);
}

/* #endregion index */