.project-header {
    font-size: 1.2rem;
    padding: 16px;
    border: 1px solid var(--division-line-color);
    border-radius: var(--border-radius);
    position: relative;
}

.project-header h1 {
    font-size: 3rem;
    margin: 8px 0;
}

.project-link {
    text-decoration: none;
    display: flex;
    transition: color .2s ease-in;
    width: fit-content;
}

.project-link i {
    font-size: 1.4rem;
    position: relative;
    top: 16px;
    margin-left: 4px;
}

.project-link:hover {
    color: var(--color-accent);
}

.project-description {
    margin-bottom: 20px;
}

.project-source {
    position: absolute;
    top: 16px;
    right: 16px;
}

.project-source i {
    font-size: 2rem;
}

.project-source i:hover {
    color: var(--color-accent);
}

img.project-image {
    max-width: 100%;
    margin: 16px;
    border: 1px solid var(--division-line-color);
}