{% extends 'base.html' %}
{% import '_macros.html' as m %}

{% block head %}
<title>Čeněk Potužník</title>
{% endblock %}


{% block body %}

<div class="welcome-card">
    <div class="col-left">
        <div class="name">Čeněk Potužník</div>
        <div class="socials">
            <a href="https://github.com/cenekp74" target="_blank"><i class="fa-brands fa-github fa-fw"></i></a>
            <a href="https://www.instagram.com/cenek_p/" target="_blank"><i class="fa-brands fa-instagram fa-fw"></i></a>
            <a href="mailto:email@potuznik.dev" target="_blank"><i class="fa-regular fa-envelope fa-fw"></i></a>
        </div>
    </div>
    <div class="col-right">
        <p>
            Jsem full stack <span class="tertiary">webový vývojář</span> a <span class="tertiary">Python vývojář</span>
            z <span class="tertiary">Prahy</span>. Mám několikaleté zkušenosti s tvorbou webů, návrhem webových aplikací
            a zpracováním dat v Pythonu.
        </p>
    </div>
</div>

<div>
    <h1>Technologie, se kterými pracuji</h1>
    {{ m.technologies(['Python', 'Flask', 'Matplotlib', 'TensorFlow', 'Rust', 'HTML', 'CSS', 'JavaScript', 'SQLite', 'Git', 'Linux', 'Cloudflare'], class='technologies technologies-main') }}
</div>

<div>
    <a href="{{ url_for('about') }}">
        <h1>Více o mně<i class="fa-solid fa-arrow-up-right-from-square"></i></h1>
    </a>
    <a href="{{ url_for('work') }}">
        <h1>Moje pracovní zkušenosti<i class="fa-solid fa-arrow-up-right-from-square"></i></h1>
    </a>
    <a href="{{ url_for('projects') }}">
        <h1>Projekty, na kterých jsem pracoval<i class="fa-solid fa-arrow-up-right-from-square"></i></h1>
    </a>
</div>

{% endblock %}
