{% extends 'base.html' %}

{% block head %}
<title>About | Cenek Potuznik</title>
{% endblock %}


{% block body %}

<div>
    <h1 class="page-heading">About me</h1>
    <p>
        I am a developer from <b class="tertiary">Prague, Czech Republic</b>. My specialization is creating fast, responsive, and reliable websites. 
        I have several years of experience in making professional, minimalistic websites that are easy to maintain and free from unnecessary dependencies.
    </p>
    <p>
        My approach to web design (and to programming in general) is very <b class="tertiary">practical</b>. I avoid frontend frameworks when possible, 
        prioritizing simplicity, full control over my projects, and long-term reliability. 
    </p>
    <p>
        In addition to web development, I am proficient in <b class="tertiary">Python</b> for a wide range of different applications. I have experience with machine learning (AI), 
        data visualization, desktop app development, data processing/analysis, web scraping, automation and many more. <br>
        I usually write backends for my web applications in Python using <b class="tertiary">Flask/Django</b>.
    </p>
    <p>
        Since I often deploy and host projects myself, I am quite knowledgeable about <b>Linux</b>. I can manage linux servers on a professional level. I'm comfortable with 
        using Docker, virtual environments etc. 
    </p>
    <p>
        You can check out some of my projects in the <a href="{{ url_for('projects') }}">Projects</a>
        section. 
    </p>

    <h2>Education</h2>
    <p>
        I'm currently a high school student in Prague (I'll be graduating in 2026). I have a <b>C2 certificate</b> in English and I am currenly learning French. 
    </p>
    <p>
        My plan for the future is to study mathematics and CS at Charles University in Prague.
    </p>

    <h2>Work experience</h2>
    <p>
        I currently work at the <b class="tertiary">Institute of Atmospheric Physics</b> and the <b class="tertiary">Institute of Physics</b> of the Czech Academy of Sciences. My work focuses on data
        processing and visualization, often combined with developing simple GUIs and web apps. 
    </p>
    <p>
        You can read more about my work experience <a href="{{ url_for('work') }}">here</a>.
    </p>
    <h2>Scientific work</h2>
    <p>
        I've contributed to of <b>several peer-reviewed scientific articles</b>, some of which I have co-authored 
        (such as <a href="https://doi.org/10.1109/RADIOELEKTRONIKA61599.2024.10524086">this one</a>). In addition to this, my work has helped in the creation of several 
        scientific materials presented at different academic conferences (for example <a href="https://spaceclimate.bas.bg/ws-sozopol/pdf/16th/Thursday/Potuznikova.pdf">this powerpoint</a>).
    </p>
</div>

<script>
    document.getElementById("navbar-about").classList.add("active")
</script>
{% endblock %}