<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0", shrink-to-fit="no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="navbar">
        <div>
            <a class="heading" href="{{ url_for('index') }}">Čeněk Potužník</a>
            <div class="navbar-items">
                <a id="navbar-about" href="#">About</a>
                <a id="navbar-projects" href="#">Projects</a>
            </div>
        </div>
    </div>

    <div class="content">
        {% block body %}
        {% endblock %}
    </div>

    <footer>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>