<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0", shrink-to-fit="no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    {% block head %}
    {% endblock %}
</head>

<body>
    <header>
        <div class="navbar">
            <a class="heading" href="{{ url_for('index') }}">Čeněk Potužník</a>
            <div class="navbar-items">
                <a class="navbar-lang">čeština</a> <!-- this is shown only on mobile -->
                <a id="navbar-about" href="{{ url_for('about') }}">About</a>
                <a id="navbar-work" href="{{ url_for('work') }}">Work experience</a>
                <a id="navbar-projects" href="{{ url_for('projects') }}">Projects</a>
            </div>
            <a class="navbar-lang">Čeština</a> <!-- this is hidden on mobile -->
            <div class="navbar-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    

    <div class="content">
        {% block body %}
        {% endblock %}
    </div>

    <footer>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>