{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

<div class="welcome-card">
    <div class="col-left">
        <div class="name">Čeněk Potužník</div>
        <div class="socials">
            <a href="https://github.com/cenekp74" target="_blank"><i class="fa-brands fa-github fa-fw"></i></a>
            <a href="https://www.instagram.com/cenek_p/" target="_blank"><i class="fa-brands fa-instagram fa-fw"></i></a>
            <a href="mailto:potuznikcenek@gmail.com" target="_blank"><i class="fa-regular fa-envelope fa-fw"></i></a>
        </div>
    </div>
    <div class="col-right">
        <p>
            I am a full stack <span class="tertiary">web developer</span> and <span class="tertiary">python developer</span> 
            based in <span class="tertiary">Prague, Czech Republic</span>. I have years of experience in web design, web app design and 
            python data processing.
        </p>
    </div>
    
</div>

{% endblock %}