{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

<div class="welcome-card">
    <div class="col-left">
        <div class="name">Čeněk Potužník</div>
        <div class="socials">
            <a href="https://github.com/cenekp74" target="_blank"><i class="fa-brands fa-github fa-fw"></i></a>
            <a href="https://www.instagram.com/cenek_p/" target="_blank"><i class="fa-brands fa-instagram fa-fw"></i></a>
            <a href="mailto:potuznikcenek@gmail.com" target="_blank"><i class="fa-regular fa-envelope fa-fw"></i></a>
        </div>
    </div>
    <div class="col-right">
        <p>
            I am a full stack <span class="tertiary">web developer</span> and <span class="tertiary">python developer</span> 
            based in <span class="tertiary">Prague, Czech Republic</span>. I have years of experience in web design, web app design and 
            python data processing.
        </p>
    </div>
</div>

<div class="technologies">
    <h1>Technologies I work with</h1>
    <div>
        <div><i class="fa-brands fa-python fa-fw"></i><span>Python</span></div>
        <div><img src="{{ url_for('static', filename='img/logos/flask.svg') }}"><span>Flask</span></div>
        <div><img src="{{ url_for('static', filename='img/logos/matplotlib.svg') }}"><span>Matplotlib</span></div>
        <div><img src="{{ url_for('static', filename='img/logos/tensorflow.svg') }}"><span>TensorFlow</span></div>
        <div><i class="fa-brands fa-rust fa-fw"></i><span>Rust</span></div>
        <div><i class="fa-brands fa-html5 fa-fw"></i><span>HTML</span></div>
        <div><i class="fa-brands fa-css fa-fw"></i><span>CSS</span></div>
        <div><i class="fa-brands fa-js fa-fw"></i><span>JavaScript</span></div>
        <div><img src="{{ url_for('static', filename='img/logos/sqlite.svg') }}"><span>SQLite</span></div>
        <div><i class="fa-brands fa-git-alt fa-fw"></i><span>Git</span></div>
        <div><img src="{{ url_for('static', filename='img/logos/linux.svg') }}"><span>Linux</span></div>
        <div><i class="fa-brands fa-cloudflare fa-fw"></i><span>Cloudflare</span></div>
    </div>
</div>

{% endblock %}