{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}

<div class="projects">
    <div>
        <a href="{{ url_for('project', project_name='notesdb') }}">
            <img class="project-image" src="{{ url_for('static', filename='img/projects/notesdb/notesdb.png') }}">
            <div class="project-details">
                <div>
                    <h1>NotesDB</h1>
                    <div class="project-description">A website for sharing study materials</div>
                </div>
                <div class="technologies">
                    <div><i class="fa-brands fa-python fa-fw"></i><span>Python</span></div>
                    <div><img src="{{ url_for('static', filename='img/logos/flask.svg') }}"><span>Flask</span></div>
                    <div><img src="{{ url_for('static', filename='img/logos/sqlite.svg') }}"><span>SQLite</span></div>
                </div>
            </div>
        </a>
    </div>
</div>

<script>
    document.getElementById("navbar-projects").classList.add("active")
</script>
{% endblock %}