{% extends 'base.html' %}

{% block head %}
<title>Projects | Cenek Potuznik</title>
{% endblock %}


{% block body %}

<div class="projects">
    <div>
        <a href="{{ url_for('project', project_name='anki-share') }}">
            <img class="project-image" src="{{ url_for('static', filename='img/projects/anki-share/anki-share.png') }}">
            <div class="project-details">
                <div>
                    <h1>anki-share</h1>
                    <div class="project-description">A website for sharing anki decks</div>
                </div>
                <div class="technologies">
                    <div><i class="fa-brands fa-python fa-fw"></i><span>Python</span></div>
                    <div><img src="{{ url_for('static', filename='img/logos/flask.svg') }}"><span>Flask</span></div>
                    <div><img src="{{ url_for('static', filename='img/logos/celery.svg') }}"><span>Celery</span></div>
                </div>
            </div>
        </a>
    </div>
    <div>
        <a href="{{ url_for('project', project_name='notesdb') }}">
            <img class="project-image" src="{{ url_for('static', filename='img/projects/notesdb/notesdb.png') }}">
            <div class="project-details">
                <div>
                    <h1>NotesDB</h1>
                    <div class="project-description">A website for sharing study materials</div>
                </div>
                <div class="technologies">
                    <div><i class="fa-brands fa-python fa-fw"></i><span>Python</span></div>
                    <div><img src="{{ url_for('static', filename='img/logos/flask.svg') }}"><span>Flask</span></div>
                    <div><img src="{{ url_for('static', filename='img/logos/sqlite.svg') }}"><span>SQLite</span></div>
                </div>
            </div>
        </a>
    </div>
    <div>
        <a href="{{ url_for('project', project_name='rust-labeler') }}">
            <img class="project-image" src="{{ url_for('static', filename='img/projects/rust-labeler/rust-labeler.png') }}">
            <div class="project-details">
                <div>
                    <h1>rust-labeler</h1>
                    <div class="project-description">Rust app for labeling images</div>
                </div>
                <div class="technologies">
                    <div><i class="fa-brands fa-rust fa-fw"></i><span>Rust</span></div>
                    <div><i class="fa-brands fa-css fa-fw"></i><span>CSS</span></div>
                    <div><i class="fa-brands fa-js fa-fw"></i><span>JavaScript</span></div>
                </div>
            </div>
        </a>
    </div>
</div>

<script>
    document.getElementById("navbar-projects").classList.add("active")
</script>
{% endblock %}