{% extends 'base.html' %}

{% block head %}
<title>Work experience | Cenek Potuznik</title>
{% endblock %}


{% block body %}

<div class="work-experience">
    <h1 class="page-heading">My work experience</h1>
    <div>
        <h1>Institute of Atmospheric Physic</h1>
        <p>
            Since the year 2022, I have been working on multiple projects for the <a href="https://ufa.cas.cz" target="_blank">Institute of Atmospheric Physic of the Czech Academy of Sciences</a>. 
        </p>
        <p>
            My main job here is processing scientific data - creating graphs, implementing different statistical modules, training neural networks etc. I have also worked on internal
            tools for visualizing meteorological data in real time. 
        </p>
        <p>
            My work directly contributed to several scientific articles, some of which can be found <a href="https://scholar.google.com/citations?view_op=list_works&hl=en&user=TBRXhcoAAAAJ">here</a>. 
        </p>
    </div>
    <div>
        <h1>JSNO Film Festival</h1>
        <p>
            In the year 2024, I was the IT specialist for film festival <a href="jsno.cz"><b>Jeden Svět na Ohradní</b></a>. This role involved creating and 
            maintaining <a href="the website" target="_blank">the festival's website</a> (including its database and internal tools), 
            deveoloping a <a href="https://github.com/cenekp74/festival-filmy-server" target="_blank">system for automatic media playback</a> on multiple computers, 
            creating an <a href="https://github.com/cenekp74/festival-prichodovy-system" target="_blank">attendence system</a> and designing
            a <a href="https://github.com/cenekp74/festival-obrazovky">system</a> for displaying content on multiple TV screens in the building.  
        </p>
    </div>
    <div>
        <h1>Freelancing</h1>
        <p>
            I occasionally take on freelancing projects (I have an accounts on <a href="https://www.fiverr.com/users/cenekp">fiverr</a> and peopleperhour). 
        </p>
        <p>
            My most notable freelancing project was implementing a neural network for solving captchas in arabic (unfortunately, I cannot share the source code). 
            I have also worked on several automation and web scraping projects. 
        </p>
    </div>
</div>

<script>
    document.getElementById("navbar-work").classList.add("active")
</script>
{% endblock %}